#app {
  width: 100%;
  max-width: 400px;
  background-color: #f8e1ed;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

input[type="text"], textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
}

#app label {
  display: block;
  margin-bottom: 15px;
}

button {
  background-color: rgba(251, 255, 0, 0.349);
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #7cff9898;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  border-left: 5px solid #f8e1ed;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.description-text {
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
}

.subtitle {
  color: #666;
  margin-bottom: 2rem;
  text-align: center;
    
}

.Cal-text {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 0.5rem;
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #f8e1ed, transparent);
  margin: 2rem 0;
}